{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autofocus autocomplete="off" type="text" name="symbol" placeholder="Stock's symbol">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" type="number" name="shares" min="1" placeholder="Number of shares">
        </div>
        <button class="btn btn-primary" type="submit">Buy shares</button>
    </form>

{% endblock %}
