{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select form-select-lg mb-3" name="symbol" id="symbol" aria-label="Select a stock to sell">
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="number" min=1 autocomplete="off" required name="shares" placeholder="How many shares?">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}
